<span style="display: none" *ngIf="$refs | async"></span>

<div class="header">
  <div class="header--block">
    <img src="https://next.privat24.ua/assets/de8ddb208f4b5f95b48c.svg">

    <div class="header-rate" *ngIf="currency[0]">
      <p>Currency rate</p>
      <p class="currency"><span>$</span> {{ findElement(840, 980) }}</p>
      <p class="currency"><span>€</span> {{ findElement(978, 980) }}</p>
    </div>
  </div>
</div>

<div class="container">
  <app-convert [currency]="currency"></app-convert>
</div>
